rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Åpent for utvikling — stram inn før prod
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
